.title{
    position: relative;
}

.title-container{
    transform: translateX(-50%);
    top: 40%;
    left: 50%;
    border-radius: 20px;
    background-color: white;
    padding: 1em;
    position: absolute;
}
.content{
    display: flex;
    justify-content: center;
}