.language-container{
    display:  flex;
    flex-direction: row;
}
.navLangButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.language-container img {
    width: 1em;
    height: auto;
}
.navLangButton{
    margin: 0 5px;
    padding: 5px 13px ;
    border-radius: 12px;
    background: aqua;
  }